@import "~@fremtind/jkl-core/variables/_all.scss";

.jkl-portal-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background: linear-gradient(0deg, $hvit 0%, $varde-10 100%);
    display: grid;
    place-items: center;
    height: 260px;

    &__logo {
        width: 100%;
        max-width: 200px;
    }
}
